@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Nanum+Pen+Script&display=swap');
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --red: #e3342f;
  --yellow:rgb(255, 192, 0);
  --blue:#00aee0;
  
}

.color-red {color:var(--red); font-weight: bold;}
.color-yellow {color:var(--yellow); font-weight: bold;}
.color-blue {color:var(--blue); font-weight: bold;}



.modal-wrap {position:fixed; top:0; right:0; left:0; bottom:0; visibility:hidden; z-index:1;}
.modal-body {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:calc(100% - 80px); height: calc(100vh - 60px); border-radius:8px; background:transparent; z-index:11; padding:15px}

.modal-title {position:relative; width:100%; height:15%;}

.modal-content {position: relative; width:100%; height:85%;}

.modal-content .modal-item {position:relative; width:calc(100% - 1px); height:inherit; margin:0 auto; overflow:hidden; border-radius: 16px;}
.modal-content .modal-item.s1 {display:flex; justify-content: center; align-items: center; text-align: center; background:rgba(0, 0, 0, 0.75);}
.modal-content .modal-item.s3 {background:none;}
.modal-item .txt {font-family: 'GmarketSansMedium', sans-serif; color:#fff; font-size:15px; font-weight: 500; padding: 0 20px 50px 10px; line-height:1.5;}

.rull-wrap {display:flex; justify-content: flex-start; align-items: center; flex-direction: column; width:calc(100% - 20px); height:100%; margin:0 auto; word-break: break-all;}
.rull-wrap strong {display:block; font-family: 'GmarketSansMedium', sans-serif; font-size:24px; color:#fff; margin-top:50px;}
.rull-wrap .rull-item {display:flex; justify-content: flex-start; flex-direction: column; height: 50%; list-style: none; counter-reset: number; margin-top:16px; padding:8px 16px 8px 4px; overflow: scroll;}


.rull-wrap .rull-item li {position: relative; font-family: 'GmarketSansMedium', sans-serif; font-size:14px; color:#fff; text-align: left; padding-left:16px; word-break:keep-all; margin-bottom:8px;}
.rull-wrap .rull-item li::before {content:counter(number)'.'; position:absolute; left:2px; top:3px; counter-increment: number; font-size:12px;}

.start-wrap {position:absolute; left:50%; top:30%; transform: translateX(-50%); width:75%; height:60px; line-height:60px; background:rgba(0, 0, 0, 0.5); border-radius: 16px;}
.start-wrap .start-btn {width:100%; height:100%; position: relative; display: block; z-index: 999;border:none; cursor:pointer; box-sizing: border-box; text-decoration: none; text-align: center;}
.start-wrap .start-btn span {font-size:24px; color:#fff;}

.animated {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    animation: animated 1.5s infinite;
    box-sizing: border-box;
    border-radius: 16px;
  }

  @keyframes animated {
    0% {
        border: 1px solid var(--red);
        opacity: 1;
    }

    100%{
        border: 10px solid var(--red);
        opacity: 0;
    }
    
  }

.bubble-wrap {position:absolute; right:20%; top:50%; background:url(../img/conversation.png)no-repeat; background-size:100%; width:25%; height:25%; text-align: center; padding:8px 0;}
.bubble-wrap .bubble {font-family: 'Nanum Pen Script', cursive; font-size:21px; color:#000;}
  
.modal-overlay {position:absolute; top:0; right:0; bottom:0; left:0; visibility:hidden;}
.modal-wrap.active {visibility:visible; display:block;}
.modal-wrap.active .modal-overlay {opacity:.5; visibility:visible;}

.coupon-wrap {width:100%;}
.coupon-wrap strong {margin:0 0 26px 0; font-size:20px;}
.coupon-item {display:flex; justify-content: space-between; align-items: center; flex-direction: row; margin:0 auto; width:100%; padding:0;}
.coupon-item > li {position:relative; display:block; width:33.33%; height:25px; line-height: 25px; background:var(--yellow); list-style: none; margin:0 4px; box-sizing: border-box; font-size:12px; font-family: 'GmarketSansMedium', sans-serif;}
.coupon-item > li em {position: absolute; left:30px; top:-22px; color:var(--blue);}





/* slick css */
.slick-list {height:100%;}
.slick-track {height:90%;}
/* .slider-item {height: 340px;} */
.slick-dots {position:absolute; left:0; bottom:0; width:100%; display:flex !important; justify-content: center; align-items: center; padding: 0 ;}
.slick-dots li::marker {font-size:0;}
.slick-dots li {margin: 0 10px;}
.slick-dots li button {width:12px; height:12px; border-radius: 50%; background: #bdbdbd; font-size:0; border: none; cursor: pointer;}
.slick-dots li.slick-active button {background: var(--red);}





/* json css */
.merry-christmas {position:absolute; left:50%; top:-60px; transform:translateX(-50%); width:100%;}
/* .snow1 {border: 1px solid #000; height:100%;} */
.snow1 {position:absolute; bottom:-2%; right:0%; width:150%;}
.rabbit {position:absolute; left:0; bottom:-8%; width:45%;}
.santa1 {position:absolute; right:-10%; top:-10%; width:50%;}
.santa2 {position:absolute; left:46%; bottom:0; transform: translateX(-50%); width:50%;}
.santa3 {position:absolute; right:15%; top:-7%; width:65%; transform:rotate(20deg);}
